:root {
  --unh-blue: #00274C;
  --unh-white: #ffffff;
  --unh-gray: #B7B8B8;
  --unh-light-gray: #E6E7E8;
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--unh-light-gray);
}

h1 {
  color: var(--unh-blue);
}

a {
  color: var(--unh-blue);
  text-decoration: none;
}

a:hover {
  color: var(--unh-gray);
  text-decoration: underline;
}

.tg {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  margin: 20px 0;
}

.tg th,
.tg td {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  font-size: 14px;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
}

.tg th {
  background-color: var(--unh-blue);
  color: white;
}

.tg tr:nth-child(even) {
  background-color: var(--unh-white);
}

label,
input {
  display: block;
  margin-bottom: 10px;
}

input[type="submit"] {
  background-color: var(--unh-blue);
  border: none;
  color: white;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
  text-align: center;
}

input[type="submit"]:hover {
  background-color: var(--unh-gray);
}
