<!-- Author: Anthony Santos -->
<!-- Copied over style from records.html -->
<!-- Asked ChatGPT to expand upon styling to include the list items / URLs  by including my written html -->
<!-- Also swapped the color from green to blue to match the blue color of UNH -->
<!-- Not including the navigation bar I used in other html to go along with assignment -->
<!-- I will update / include navigation bar later when something actually goes on this page -->
<!doctype html>
<html>
  <head>
    <title>Contact Us</title>
    <link rel="icon" href="/image" type="image/x-icon">
    <link rel="stylesheet" href="/css">
  </head>
  <body>
    <!-- Below is the Navigation Bar -->
    <nav class="top-nav">
      <ul>
        <li style="margin-right: auto; padding-right: 5%; padding-left: 0%"><a href="{{ url_for('index') }}"><img src="/image" style="width:50px;height:50px;"></a></li>
        <li><a href="dashboard.html">Account</a></li>
      </ul>
  </nav>
  <nav class="bottom-nav">
      <ul>
          <li><a href="{{ url_for('phillyMenu') }}">Philbrook Menu</a></li>
          <li><a href="{{ url_for('hocoMenu') }}">Holloway Commons Menu</a></li>
          <li><a href="{{ url_for('records') }}">View Records</a></li>
          <li><a href="{{ url_for('date') }}">Select Date</a></li>
          <li><a href="{{ url_for('create') }}">Create Record</a></li>
          <li><a href="{{ url_for('contact') }}">Contact Us</a></li>
      </ul>
  </nav>
    <h1>Contact Us:</h1>

      <p>Feel free to contact any of the developers below with comments, questions or concerns.</p>
      <centre>
      <a href = "mailto: Anthony.Santos@unh.edu">Anthony Santos</a>
      <a href = "mailto: dsb1041@usnh.edu">Austin Snow</a>
      <a href = "mailto: Austin.Snow@unh.edu">Dart Birnie</a>
      <a href = "mailto: Jason.MacMillan@unh.edu">Jason MacMillan</a>
      </centre>
      <p>Thank you from the team at <i>FUN-H</i></p>
  </body>
</html>
