<!doctype html>
<html>
  <head>
    <title>Welcome!</title>
    <link rel="icon" href="/image" type="image/x-icon">
    <link rel="stylesheet" href="/css">
  </head>
  <body>
    <nav class="top-nav">
        <ul>
          <li style="margin-right: auto; padding-right: 5%; padding-left: 0%"><a href="{{ url_for('index') }}"><img src="/image" style="width:50px;height:50px;"></a></li>
          <li><a href="dashboard.html">Account</a></li>
        </ul>
    </nav>
    <nav class="bottom-nav">
        <ul>
            <li><a href="{{ url_for('phillyMenu') }}">Philbrook Menu</a></li>
            <li><a href="{{ url_for('hocoMenu') }}">Holloway Commons Menu</a></li>
            <li><a href="{{ url_for('records') }}">View Records</a></li>
            <li><a href="{{ url_for('date') }}">Select Date</a></li>
            <li><a href="{{ url_for('create') }}">Create Record</a></li>
            <li><a href="{{ url_for('contact') }}">Contact Us</a></li>
        </ul>
    </nav>
  </body>
</html>