p {
    text-align: center;
    color: #003591;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f1f1f1;
    margin: 0;
}
a {
    color: #003591;
    text-decoration: none;
    font-weight: bold;
    display: block;
}
h1 {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 0;
    margin-top: 1%;
    padding: 0.5em;
    background-color: #003591;
    color: #fff;
    text-align: center;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 1em;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}
nav li {
    display: block;
    justify-content: center;
    align-items: center;
}
.top-nav, .bottom-nav {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.top-nav {
    background-color: #003591;
    padding: 0.5em;
    margin-left: 0;
}
.top-nav li {
    margin: 0 1em;
    padding-left: 5%;
    display: block;
}
.top-nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}
.top-nav a:hover {
    text-decoration: underline;
}
.bottom-nav {
    background-color: #eee;
    margin-left: 0;
}
.bottom-nav a {
    color: #444;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s ease;
    background-color: #eee;
    transition: background-color 0.5s ease-in-out;
    display: inline-block;
}
.bottom-nav li a:hover {
    color: #003591;
    background-color: #fff;
}
.bottom-nav li a {
    padding: 1em;
    color: #333;
    text-decoration: none;
    font-weight: bold;
    display: block;
}
.bottom-nav li a:hover {
    color: #003591;
}